
<!--검색 공간-->
<div id="search">
  <form>
    <input type="text">
    <input type="submit" value="검색">
  </form>
</div>


<!--검색 결과 공간-->
<div id="search_result">
  <iframe src="http://www.tjmedia.com" height="200" width="300"></iframe>
</div>


<!--검색 결과 관련 추천 공간-->
<div id="search_recommendation">
  
</div>


<!--추천 공간-->
<div id="recommendation">
  
</div>
