<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--메뉴-->
  <nav> 
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">MyPage</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </nav>

  <!--사이트 로고-->
  <header>
    
  </header>
    
  <!--내용-->
  <section>
    <%= yield %>
  </section>
    
  <!--푸터-->
  <footer>
    
  </footer>
</body>
</html>
